.accordian {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 0 30px 0; }
  .accordian .heading {
    position: relative;
    cursor: pointer;
    padding: 15px; }
    .accordian .heading:after {
      content: '';
      position: absolute;
      top: 9px;
      right: 16px;
      height: 20px;
      width: 20px;
      border: 1px solid #ccc;
      border-top: 0;
      border-left: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
  .accordian.open .heading:after {
    top: 19px;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg); }
  .accordian .content-area {
    padding: 15px;
    background: #f8f8f8;
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.1); }
